*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: grey;
}
h1{
    position: relative;
    text-align: center;
    color: antiquewhite;
}
.poster{
    width: 100%;
    height: 100vh;
    background-image: url(https://www.hdcarwallpapers.com/download/dodge_challenger_srt_demon_4k-2560x1440.jpg);
    background-size: cover;
    background-position: center;  
}
.logo{
    position: absolute;
    top: 5px;
    left: 25px;
    right: 5px;
    width: 85%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign{
    width: 200px;
    cursor: pointer;
}
.logo ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.logo ul li a{
    text-decoration: none; 
    color: rgb(219, 202, 202);
    text-transform: uppercase;
}
.logo ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(196, 0, 0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.logo ul li:hover::after{
    width: 100%;
}
.components{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: aliceblue;
}
.components h1{
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}
.components p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 25px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: bold;
    background: aquamarine;
    border:  2px rgb(12, 102, 94);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    cursor: pointer;
    position: relative;
}   
.about p{
    font-size: 15px
}